* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  display: flex;
}
.navb {
  position: relative;
  display: flex;
  list-style: none;
}
li {
  position: relative;
  padding: 4vh 10vh 4vh 7vh;
  top: -13vh;
  left: 15vw;
  font-size: 20px;
}
h1 {
  position: relative;
  padding: 4vh;
  font-size: 35px;
  color: rgb(50, 50, 50);
}
.login {
  position: relative;
  border: none;
  background: linear-gradient(to left, rgb(8, 23, 134), rgb(45, 69, 247));
  top: 4vh;
  left: 30vw;
  text-align: center;
  padding: 2vh 5vh 2vh 5vh;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}
.signup {
  position: relative;
  border: none;
  background: linear-gradient(to left, rgb(8, 23, 134), rgb(45, 69, 247));
  top: 4vh;
  left: 32vw;
  text-align: center;
  padding: 2vh 5vh 2vh 5vh;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}
.login:hover {
  background: white;
  color: black;
}
.signup:hover {
  background: white;
  color: black;
}
a {
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.wave {
  position: absolute;
  top: -52vh;
  left: -153.9vh;
  height: 100vh;
  width: 100vw;
  transform: rotate(180deg);
  background: #7cb8e33c;
  clip-path: path(
    "M0,256L80,261.3C160,267,320,277,480,245.3C640,213,800,139,960,90.7C1120,43,1280,21,1360,10.7L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
  );
}
.wrap {
  transform: scale(1.1, 2);
  z-index: -1;
}

.intro {
  display: flex;
}
.text1 {
  position: relative;
  left: 3vw;
  padding: 5vh 5vh 2vh 5vh;
  font-size: 40px;
  width: 50vw;
  font-weight: bold;
  color: rgb(50, 50, 50);
}
.text2 {
  position: relative;
  padding: 0vh 5vh 2vh 5vh;
  font-size: 20px;
  width: 40vw;
  left: 3vw;
}
.searchbox {
  position: relative;
  padding: 0vh 0vh 5vh 3vh;
  left: 4vw;
}
.sb {
  position: relative;
  padding: 01vh 3vh 1vh 2vh;
  width: 12vw;
  border-radius: 25px;
  background-color: rgb(2, 47, 111);
  color: white;
}
.sb::placeholder {
  color: white;
  font-size: 15px;
}
.imgg {
  position: relative;
  width: 30vw;
  right: 6vw;
}
.introimg {
  position: relative;
  width: 49vw;
  right: 1vw;
  top: -8vh;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.35));
}

.stats {
  position: relative;
  top: -5vh;
  display: flex;
  padding: 3vh;
  background-color: #7cb8e33c;
}
.stat1 {
  position: relative;
  display: flex;
  width: 13vw;
  left: 5vw;
}
.icon1 {
  border: 7px solid white;
  width: 13vw;
  border-radius: 50%;
  padding: 0.25vw;
  background-color: #b9e0fc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
.t1 {
  position: relative;
  flex-direction: column;
  width: 25vw;
  font-size: 20px;
  top: 1.5vh;
  left: 1vw;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.stat1 svg path {
  fill: none;
  stroke: #333;
}
.stat2 {
  position: relative;
  display: flex;
  width: 13vw;
  left: 30vw;
}
.icon2 {
  border: 10px solid white;
  width: 13vw;
  border-radius: 50vw;
  padding: 0.25vw;
  background-color: #b9e0fc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
.t2 {
  position: relative;
  flex-direction: column;
  width: 25vw;
  font-size: 20px;
  top: 1.5vh;
  left: 1vw;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.stat2 svg path {
  fill: none;
  stroke: #333;
}
.stat3 {
  position: relative;
  display: flex;
  width: 13vw;
  left: 50vw;
}
.icon3 {
  border: 10px solid white;
  width: 13vw;
  border-radius: 50vw;
  padding: 0.25vw;
  background-color: #b9e0fc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
.t3 {
  position: relative;
  flex-direction: column;
  width: 25vw;
  font-size: 20px;
  top: 1.5vh;
  left: 1vw;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.stat3 svg path {
  fill: none;
  stroke: #333;
}
